@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --google-default-color-light-gray: #f1f1f1;
    --google-default-border-color-light-gray: #e5e5e5;
    --google-default-footer-list-color-gray: #999999;
    --google-default-button-color-blue:#4d90fe;
    --google-default-button-border-color-blue: #3079ed;
    --google-default-button-color-dark-blue: #2f5bb7;
    --google-default-button-color-red:#d14836;
    --google-defautl-button-border-color-red: #b0281a;
    --google-default-button-color-dark-red: #c53727;
}
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.warning-banner {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    background-color: #000000;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

div.warning-title {
    display: flex;
    flex-direction: column;
    width: 14rem;
}
div.warning-title span:nth-child(1) {
    font-weight: 700;
}
.wrapper {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: var(--google-default-button-color-dark-blue);
}

/* Google Header Bar */
header.google-bar {
    background-color: var(--google-default-color-light-gray);
    height: 5rem;
    border-bottom: solid var(--google-default-border-color-light-gray) 1px;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
}
.signup-button {
    background-color: var(--google-default-button-color-red);
    padding: 0.5rem;
    border-radius: 2px;
}
.signup-button a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
}
.signup-button:hover {
    background-color: var(--google-default-button-color-dark-red);
    border: solid var(--google-defautl-button-border-color-red) 1px;
}

/* main content */
main.main-content {
    display: flex;
    flex-direction: column;
}
.wrapper-content {
    display: flex;
    flex-direction: row;
    padding: 3rem;
    justify-content: space-around;
}
.product-info {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.product-header {
    padding-bottom: 1rem;
}
.product-body {
    display: flex;
    flex-direction: row;
}
.product-description {
    padding: 0 1rem 0 1rem;
}
.product-description h3 {
    font-size: 1rem;
    font-weight: bold;
}
.product-description p {
    font-size: 0.9rem;
    padding-bottom: 1rem;
}

/* sign in */
.sign-in {
    background-color: var(--google-default-color-light-gray);
    width: 25%;
    padding: 1rem;
    border: solid var(--google-default-border-color-light-gray) 1px;
}
.sign-in-box {
    padding: 1rem;
}
.sign-in-box h2 {
    font-size: 1rem;
    font-weight: normal;
}
.sign-in a {
    text-decoration: none;
    font-size: 0.9rem;
}
.sign-in-box > form {
    margin-bottom: 1rem;
}
.email-box, .password-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}
.email-box > label, .password-box > label {
    font-size: 0.9rem;
    padding-bottom: 0.2rem;
    font-weight: bold;
}
.email-box > input, .password-box > input {
    height: 2rem;
    border: solid var(--google-default-border-color-light-gray) 1px;
    padding-left: 0.5rem;
}
input[type="submit"] {
    background-color: var(--google-default-button-color-blue);
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 2px;
    color: #ffffff;
    font-weight: bold;
    font-size: 11px;
    border: solid var(--google-default-button-border-color-blue) 1px;
}
input[type="submit"]:hover {
    background-color: var(--google-default-button-color-dark-blue);
}
.email-box > input:focus, .password-box > input:focus {
    border: solid var(--google-default-button-border-color-blue) 1px;
}
.remember-box {
    margin-top: 1rem;
    padding: 0 1rem;
}
.remember-box span {
    font-weight: normal;
    font-size: 0.9rem;
}
/* blog */
.blog-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

.blog-wrapper > ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.blog-wrapper strong{
    font-size: 0.9rem;
}
.blog-wrapper li {
    list-style: none;
}
.blog-wrapper a {
    text-decoration: none;
    font-size: 0.9rem;
}
/* footer */
footer.google-footer-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 3rem;
    height: 2rem;
    border-top: solid var(--google-default-border-color-light-gray) 1px;
    z-index: 1;
    background-color: #ffffff;
}
.footer-content {
    height: 100%;
    display: flex;
    align-items: center;
}
.footer-content ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.footer-content li {
    list-style: none;
}
.footer-content a {
    text-decoration: none;
    font-size: 0.7rem;
    color: var(--google-default-footer-list-color-gray);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wrapper-content {
        display: flex;
        flex-direction: column;
        padding: 3rem;
    }
    .product-info {
        width: 100%;
    }
    .sign-in {
        margin-top: 1rem;
        width: 100%;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .product-info {
        width: 50%;
    }
    .sign-in {
        width: 45%;
        height: 20rem;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .product-info {
        width: 50%;
    }
    .sign-in {
        width: 30%;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .product-info {
        width: 50%;
    }
    .sign-in {
        width: 30%;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .product-info {
        width: 50%;
    }
    .sign-in {
        width: 30%;
    }
}